@{
    ViewData["Title"] = "Home Page";
}
@using SinemaApp.Models
@model List<Film>;
<div class="container text-center">
    <h1 class="mb-4">Gösterimdeki Filmler</h1>
    <div class="row">
        @foreach (Film film in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-light" style="border-radius: 12px;">
                    @if(film.FotoUrl != null)
                    {
                        <img class="card-img-top" src="@film.FotoUrl" alt="" style="border-top-left-radius: 12px; border-top-right-radius: 12px;">

                    }
                    else
                    {
                        <p>simdilik foto yok</p>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@film.Isim</h5>
                        <p class="card-text">@film.Aciklama</p>
                        <p class="card-text"><strong>Dil:</strong> @film.Dil</p>
                        <p class="card-text"><strong>Süre:</strong> @film.Sure dakika</p>
                        <a asp-controller="Sinema" asp-action="Detay" asp-route-id="@film.Id" class="btn btn-primary">Sinemaları Gör</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

