@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using SinemaApp.Models
@model List<Sinema>
<div>
    <a class="btn btn-success modalSinemaEkle" data-bs-toggle="modal" data-bs-target="#myModalSinemaEkle">Sinema Ekle</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th >İsim</th>
            <th >Adres</th>
            <th >Güncelle</th>
            <th >Salon Ekle</th>
            <th >Salonları Görüntüle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Sinema sinema in Model){
            <tr>
                <td>@sinema.Isim</td>
                <td>@sinema.Adres</td>
                <td><a class="btn btn-success modalSinemaGuncelle" data-bs-toggle="modal" data-bs-target="#myModalSinemaGuncelle" data-sinemaGuncelleId ="@sinema.Id" data-sinemaIsim = "@sinema.Isim" data-sinemaAdres ="@sinema.Adres"> Güncelle </a></td>
                <td><a class="btn btn-success modalSalonEkle" data-bs-toggle="modal" data-bs-target="#myModalSalonEkle" data-sinemaId ="@sinema.Id"> Salon Ekle </a></td>
                <td><a class = "btn btn-success"asp-controller="Salon" asp-action="Listele" asp-route-id="@sinema.Id" > Salonları Görüntüle </a> </td>
            </tr> 
        }
        
    </tbody>
</table>

<div class="modal" tabindex="-1" id="myModalSalonEkle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Film Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mesaj"></p>
                <form id="SalonEkleForm">
                    <div>
                        <input class="form-control formSalonSinemaId" type="hidden" name="Id" />
                    </div>
                    <div>
                        <label> Salon İsmi: </label>
                        <input class="form-control formSalonIsim" type="text" name="Isim" placeholder="Salonun ismini giriniz" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary salonEkle">Salon Ekle</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="myModalSinemaGuncelle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sinema Güncelleme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mesaj"></p>
                <form id="SinemaGuncelleForm">
                    <div>
                        <input class="form-control formGuncelleSinemaId" type="hidden" name="Id" />
                    </div>
                    <div>
                        <label> Sinema İsmi: </label>
                        <input class="form-control formGuncelleSinemaIsim" type="text" name="Isim" placeholder="Sinemanın yeni ismini giriniz" />
                    </div>
                    <div>
                        <label> Sinema Adresi: </label>
                        <input class="form-control formGuncelleSinemaAdres" type="text" name="Adres" placeholder="Sinemanın yeni adresini giriniz" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sinemaGuncelle">Güncelle</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="myModalSinemaEkle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sinema Ekleme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mesaj"></p>
                <form id="SinemaGuncelleForm">
                    <div>
                        <label> Sinema İsmi: </label>
                        <input class="form-control formEkleSinemaIsim" type="text" name="Isim" placeholder="Sinemanın ismini giriniz" />
                    </div>
                    <div>
                        <label> Sinema Adresi: </label>
                        <input class="form-control formEkleSinemaAdres" type="text" name="Adres" placeholder="Sinemanın adresini giriniz" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sinemaEkle">Ekle</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".modalSalonEkle").click(
            function () 
            {
                var id = $(this).attr("data-sinemaId");

                $(".formSalonSinemaId").val(id);

            }
        );
        $(".salonEkle").click(
            function () {
                var formData = {
                    Id: $(".formSalonSinemaId").val(),
                    Isim: $(".formSalonIsim").val() 
                };
                $.ajax(
                    {
                        type: "POST",
                        url: "/Salon/Ekle/",
                        data: formData,
                        success: function (durum) {
                            if (durum == "basarili") {
                                window.location.replace("/Sinema/Index");
                            }
                            else {
                                $(".modal-body>p.mesaj").html("Hata oluştu");
                            }
                        }
                    }
                )
            }
        );
        $(".modalSinemaGuncelle").click(
            function () {
                var id = $(this).attr("data-sinemaGuncelleId");
                var isim = $(this).attr("data-sinemaIsim");
                var adres = $(this).attr("data-sinemaAdres");

                $(".formGuncelleSinemaId").val(id);
                $(".formGuncelleSinemaIsim").val(isim);
                $(".formGuncelleSinemaAdres").val(adres);
            }
        );

        $(".sinemaGuncelle").click(
            function () {


                var formData = {
                    Id: $(".formGuncelleSinemaId").val(),
                    Isim: $(".formGuncelleSinemaIsim").val(),
                    Adres: $(".formGuncelleSinemaAdres").val()
                };

                $.ajax(
                    {
                        type: "POST",
                        url: "/Sinema/Guncelle/",
                        data: formData,
                        success: function (durum) {
                            if (durum == "basarili") {
                                window.location.replace("/Sinema/Index");
                            }
                            else {
                                $(".modal-body>p.mesaj").html("Hata oluştu");
                            }
                        }
                    }
                )
            }
        );

        $(".sinemaEkle").click(
            function () {
                var formData = {
                    Isim: $(".formEkleSinemaIsim").val(),
                    Adres: $(".formEkleSinemaAdres").val()
                };
                $.ajax(
                    {
                        type: "POST",
                        url: "/Sinema/Ekle/",
                        data: formData,
                        success: function (durum) {
                            if (durum == "basarili") {
                                window.location.replace("/Sinema/Index");
                            }
                            else {
                                $(".modal-body>p.mesaj").html("Hata oluştu");
                            }
                        }
                    }
                )
            }
        );

    </script>
}